

.mm {
    justify-content: center;
    background-color: black;
    position: relative;
    top: 0;
    z-index: 0px;
    
}

.ll {
    
    font-size: 34px;
    padding: 5px;
    max-width: 100%;
    width:600px;

   
    
}


.fontsize {
    font-size: 50px;
    padding: 10px;
    width: 70%;
    text-align: center;
}



.hi {
   
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;

}

.col {

    padding: 10px;
   border-radius: 20px;
  
}

@media screen  and (max-width:600px)
{
   .fontsize {
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding: 10px;

   
   }
}

.navcol {
    color:blue
}

.navy {
    
    border-radius: 30px;
    justify-content: center;
    margin: 3px;
    padding: 5px;
    color:black;
    background-color: white;
}







@media screen  and (max-width:600px)
{
    .navy {

         height: 300px;
         background-color: black;
      
        color: white;
        width:500px;
        height: 300px;
        border-radius: 0px;
        padding: 10px;
        font-size: 20px;
    }

    .navy >  a {
        color  : white;
    }

  


   

  

    
   
}


@media screen  and (max-width:800px)
{
    .navy {


       background-color: white;
        color: white;
        width: 300px;
        height: 300px;
        border-radius: 0px;
        padding: 5px;
        font-size: 15px;
        position: relative;
        margin: 0px;
    }

  

    
   
}


.m {
   height: 800px;
   
}

.about_img {
    position: relative;
top: 35%;
}



.font > h1 {
   
  
    font-size: 50px;
    font-style: bold;
    font-weight: 800;
}

.font > h3 {
   
  
    font-size: 30px;
    font-style: bold;
    font-weight: 700px;
}

.font > p {
   
  
    text-align: left;
    margin: 30px;
    font-size: 18px;
    font-weight: 400;

    
}


@media screen and (max-width: 600px) {

    .img-top > img {
        width: 100%;
        height: 300px;
        
        justify-content: center;
        align-items: center;
       position: relative;
       top:0px;
       justify-content: center;
       

    }

    .fontbody  {
        width: 100%;
        font-size: 16px;
        
        
    }


    .colimg {

        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    left: 0px;
    }


    .fontbody  > h6{
        width: 100%;
        font-size: 18px;
        text-align: center;
        
        
    }

    .jk> h3 {
       
        font-size: 30px;
        font-weight: 60px;
        font-variant: inherit;
        padding: 5px;
        text-align: center;
        
        
    }

    .jkimg > img {
       
      width: 300px;
        height: 400px;
    }


    .fontbody > h1 {
        text-align: center;
        padding: 5px;
        font-size: 25px;
    }

    .fontbody > .insidepara {
        text-align: center;

    }

    .fontbody > p {
        text-align:center;
        font-size: 16px;
        
    }

    .jk {
        text-align: center;
    }

    .btn-video {
        width: 50%;
       height: 40%;
    }

    .navicon {
              background-color: rgb(200, 225, 13);
              border-radius: 10px;
              width: 30px;
    }

    
    
}


.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

  .navbards {
    position: relative;
    top:0px;
    background-color:black;
  }




.insidenav  a{
      text-decoration: none;
      /* color:#f1b500; */
      color:aliceblue
}

.insidenav  a:hover {
    color:#f1b500;
}












